<h1>PRICE COMPARISON TOOL</h1>
<hr />

<form action="/search" method="POST">

    <div class="container">
    <div class="row">
        <div class="col-6">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Search Product</label>
            <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Product Name Here !!"
            name="s1"
            />
        </div>    
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Portal</label>       
                <select class="form-select" id="autoSizingSelect" name="s2">
                <option selected value="1">Amazon</option>
                </select>
            </div>          
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Click Here To View Search Results</button>
        </div>   

        </div>
    </div>
    </div>
</form>